---
layout: course_all
---

<div class="block">
  <div class="columns">
    <div class="column">
      <h2 class="title is-pulled-left">Список курсов:</h2>
    </div>
    <div class="column is-one-fifth">
      <button class="button is-active has-background-white-bis is-pulled-rigth is-responsive ml-6">+Новый курс</button>
    </div>
  </div>
</div>
<div class="downline"></div>

<%= yield %>

