<aside class="menu ml-5 mt-6">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a href="<%= relative_url '/' %>">Home</a></li>
  </ul>
  <p class="menu-label">
    Education
  </p>
  <ul class="menu-list">
    <li><a href="<%= relative_url '/course_builder_bridgetown/courses' %>">Courses</a></li>
    <li><a href="<%= relative_url '/course_builder_bridgetown/units' %>">Units</a></li>
  </ul>
</aside>
