<nav>
  <div class="navbar-brand">
    <img src="<%= relative_url '/images/logo2.png' %>" class="image is-128x128" alt="Logo" />

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true">тест</span>
    </a>
  </div>
</nav>
