<footer class="footer pt-3 pb-3 mt-6">
  <div class="content has-text-centered">
    <p>
      Contact me at <a href="mailto:<%= metadata.email %>"><%= metadata.email %></a>
    </p>
  </div>
</footer>
