name: Deploy to GitHub pages

on:
  push:
    branches:
      - main

jobs:
  deploy:
    environment: secret
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write

    steps:
      - uses: actions/checkout@v2
        with:
          persist-credentials: false # otherwise, the token used is the GITHUB_TOKEN, instead of your personal access token.
          fetch-depth: 0 # otherwise, there would be errors pushing refs to the destination repository.

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Setup Node
        uses: actions/setup-node@v2
        with:
          node-version: "16"
          cache: "yarn"
      - run: yarn install

      - name: Build
        run: bin/bridgetown deploy

      - name: Push
        run: |
          cd output
          git config --global user.email "razborov-aa@yandex.ru"
          git config --global user.name "MinasMorgulNazgul"
          git init --initial-branch=output
          touch ./.nojekyll
          cp -r ./course_builder_bridgetown/* ./
          git add -A
          git commit -m 'deploy'
          git push -f https://minasmorgulnazgul:${{ secrets.GITHUB_TOKEN }}@github.com/MinasMorgulNazgul/course_builder_bridgetown.git output
          